.w-100 {
  width: 100%;
  .ui-dropdown {
    width: 100%;
  }
}

.o-25 {
  opacity: 0.25;
}

.o-50 {
  opacity: 0.5;
}

.o-75 {
  opacity: 0.75;
}

.o-100 {
  opacity: 1;
}

.of-hidden {
  overflow: hidden;
}
