/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";
@import "primeng/resources/themes/nova-colored/theme.css";
// @import "primeng/resources/themes/luna-amber/theme.css";
@import "primeng/resources/primeng.min.css";
@import "@fortawesome/fontawesome-free/css/all.css";

@import "theme/base-theme.scss";

$bg-color: #ccc;

li {
  &,
  &:focus,
  *:focus {
    outline: none;
  }
  &.add-tab {
    padding: 0 !important;
    margin: 0 !important;
    background: $bg-color !important;
    border: 1px solid transparent !important;
    & a {
      background: $bg-color !important;
      padding: 0 !important;
      margin: 0;
      span {
        display: block;
        background: $bg-color;

        text-align: center;
        height: 36px;
        width: 36px;
        line-height: 36px;
        outline: none;
      }
    }
  }
}

.ui-tabview-panels {
  min-height: 90vh;
}
